<section id="heroes">
    <!-- for apple in fruits = loop -->
    <!-- This is a loops with handlebars -->
    {{#each avatars}}
        <div class="hero-container">
            <a href="/{{name}}">
                <img src="/images/{{avatar}}" alt="Avatars Images for Each Characters">
            </a>
        <h3 class="hero-name">{{name}}</h3>
        </div>
    {{/each}}
</section>